.home-carousel-container {
    height: 100%;

    .carousel-image-container {
        display: flex;
        flex: 1;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }

    .slide-show-container {
        flex: 1;
        margin: 200px 100px;

        .title, .tagline {
            color: #fff;
        }
    }

    .slide-show-control {
        position: absolute;
        top: 50%;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

        &.previous {
            transform: rotate(180deg);
            left: 0;
        }

        &.next {
            right: 0;
        }
    }
}

.home-carousel-container:hover {
    .slide-show-control {
        opacity: 1;
    }
}
