appointment-scheduler {
    position: absolute;
    right: 20px;
    top: 30%;

    .schedule-appointment-card {
        .mdl-card__title {
          color: #fff;
          height: 176px;
          background: url('cars.jpg') center / cover;
        }

        .mdl-card__body {
            margin: 10px;
        }

        .mdl-button {
            width: 100%;
        }

        .schedule-appointment-card {
            align-self: flex-end;
            flex: 1;
            width: 310px;
        }
    }
}

@media (max-width: 414px) {
    .schedule-appointment-card {
        width: 100%;
    }
}
