<ui-gmap-google-map class="col-md-8" center="map.center" zoom="map.zoom" dragging="map.dragging" bounds="map.bounds" events="map.events" options="map.options" pan="true" control="map.control">
    <ui-gmap-map-control template="control.tpl.html" position="top-right" index="1" controller="controlController"></ui-gmap-map-control>
    <ui-gmap-layer type="TrafficLayer" show="map.showTraffic"></ui-gmap-layer>
    <ui-gmap-layer type="BicyclingLayer" show="map.showBicycling"></ui-gmap-layer>
    <ui-gmap-layer namespace="weather" type="WeatherLayer" show="map.showWeather"></ui-gmap-layer>
    <ui-gmap-layer namespace="visualization" type="HeatmapLayer" show="map.showHeat" onCreated="map.heatLayerCallback"></ui-gmap-layer>
    <ui-gmap-drag-zoom keyboardkey="'alt'"></ui-gmap-drag-zoom>
    <!--WINDOWS without markers-->
    <!--NOTICE THEY MUST BE PRIOR TO ANY MARKERS OR THEY WILL ATTACH THEMSELVES walking up the dom tree-->
    <ui-gmap-window show="map.infoWindow.show" coords="map.infoWindow.coords" isIconVisibleOnClick="false" options="map.infoWindow.options" ng-cloak>
        <div>
            <p>This is an info window at {{ map.infoWindow.coords.latitude | number:4 }}, {{ map.infoWindow.coords.longitude | number:4 }}!</p>
            <div ng-controller='InfoController'>
                I should not be attached to a marker.
                <a class="btn" ng-click="clickedButtonInWindow()">CLICK ME</a>
            </div>
        </div>
    </ui-gmap-window>
    <ui-gmap-window show="map.infoWindowWithCustomClass.show" coords="map.infoWindowWithCustomClass.coords" isIconVisibleOnClick="false" options="map.infoWindowWithCustomClass.options">
        I'm a window with a custom class set via options.boxClass. I only work when googles
        <a href="//google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/docs/reference.html#InfoBoxOptions">infoBox plugin</a> is included.
    </ui-gmap-window>
    <ui-gmap-window show="map.templatedInfoWindow.show" coords="map.templatedInfoWindow.coords" options="map.templatedInfoWindow.options" templateUrl="map.templatedInfoWindow.templateUrl" templateParameter="map.templatedInfoWindow.templateParameter" ng-cloak>
    </ui-gmap-window>
    <ui-gmap-marker coords="staticMarker.coords" options="staticMarker.options" events="staticMarker.events" idKey="staticMarker.id">
    </ui-gmap-marker>
    <ui-gmap-markers models="map.randomMarkers" coords="'self'" icon="'icon'" click="onMarkerClicked" doCluster="map.doClusterRandomMarkers" clusterOptions="map.clusterOptions" modelsbyref="true">
    </ui-gmap-markers>
    <ui-gmap-markers models="map.markers2" coords="'self'" icon="'icon'" click="onMarkerClicked" options="'options'" events="map.markers2Events">
        <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
            <div>
                I should not be attached to a marker.
                <div ng-controller='InfoController'>
                    <a class="btn" ng-click="clickedButtonInWindow()">CLICK ME</a>
                </div>
                <p ng-non-bindable>This is an info window at {{ latitude | number:4 }}, {{ longitude | number:4 }}!</p>
                <p class="muted">My marker will stay open when the window is popped up!</p>
            </div>
        </ui-gmap-windows>
    </ui-gmap-markers>
    <ui-gmap-markers models="map.clickMarkers" coords="'self'" click="clackMarker">
    </ui-gmap-markers>
    <ui-gmap-markers models="map.dynamicMarkers" coords="'self'" icon="'icon'" click="onMarkerClicked" fit='true'>
        <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
            <div>
                <p>Dynamic Marker created via a delay!</p>
                <p ng-non-bindable>This is an info window at {{ latitude | number:4 }}, {{ longitude | number:4 }}!</p>
                <p class="muted">My marker will stay open when the window is popped up!</p>
            </div>
        </ui-gmap-windows>
    </ui-gmap-markers>
    <ui-gmap-markers idKey="map.mexiIdKey" models="map.mexiMarkers" coords="'self'" icon="'icon'" click="onMarkerClicked">
        <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
            <div>
                <p>Mexi!</p>
                <p ng-non-bindable>This is an info window at {{ latitude | number:4 }}, {{ longitude | number:4 }}!</p>
                <p class="muted">My marker will stay open when the window is popped up!</p>
            </div>
        </ui-gmap-windows>
    </ui-gmap-markers>
    <!-- predefined markers -->
    <!-- rendering via ng-repeat, HIGH OVERHEAD via DOM Manipulation -->
    <ui-gmap-marker ng-repeat="m in map.markers" coords="m" icon="m.icon" click="onMarkerClicked(m)" idKey="m.id" options="m.options">
        <ui-gmap-window ng-cloak coords="m.coords" isIconVisibleOnClick="false" options="map.infoWindowWithCustomClass.options">
            <p>This is an info window at {{ m.latitude | number:4 }}, {{ m.longitude | number:4 }}!</p>
            <p class="muted">My marker will stay open when the window is popped up!</p>
        </ui-gmap-window>
    </ui-gmap-marker>
    <!--marker for clicked position can not put google.map.animations.BOUNCE , since it is not initiaized yet-->
    <!--DISABLED ANIMATION on MarkerLABEL due to Google SDK V3 bug, see MarkerLabelChildModel.setOption -->
    <!--<div ng-init="opts = {animation:1}">-->
    <ui-gmap-marker coords="map.clickedMarker" idKey="map.clickedMarker.id" options="map.clickedMarker.options">
    </ui-gmap-marker>
    <!--</div>-->
    <!-- polyline example -->
    <ui-gmap-polyline ng-repeat="p in map.polylines" path="p.path" stroke="p.stroke" visible='p.visible' geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'>
    </ui-gmap-polyline>
    <!-- polygon example -->
    <ui-gmap-polygon static="true" ng-repeat="p in map.polygons track by p.id" path="p.path" stroke="p.stroke" visible="p.visible" geodesic="p.geodesic" fill="p.fill" fit="false" editable="p.editable" draggable="p.draggable" events="map.polygonEvents">
    </ui-gmap-polygon>
    <ui-gmap-polygon ng-repeat="p in map.polygons2 track by p.id" path="p.path" stroke="p.stroke" visible="p.visible" geodesic="p.geodesic" fill="p.fill" fit="false" editable="p.editable" draggable="p.draggable" events="map.polygonEvents">
    </ui-gmap-polygon>
    <!-- circle example -->
    <ui-gmap-circle ng-repeat="c in map.circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius" events="c.events" visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable">
    </ui-gmap-circle>
    <ui-gmap-rectangle bounds="map.rectangle.bounds" stroke="rectangle.stroke" visible="map.rectangle.visible" fill="map.rectangle.fill" fit="false" editable="map.rectangle.editable" draggable="map.rectangle.draggable" events="map.rectangle.events">
    </ui-gmap-rectangle>
</ui-gmap-google-map>
