.global-header {
    color: #000;
    position: absolute;
    width: 100%;

    .mdl-layout__header {
        background-color: transparent;
        box-shadow: none;
    }

    & .top-row {
        display: flex;
        margin: 15px;
    }

    & .address {

        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    & .logo {
        text-decoration: none;
        color: #fff;
    }
}
