<div class="mdl-layout--fixed-header global-header">
    <header class="mdl-layout__header">
        <div class="top-row">
            <a href ui-sref="home" class="logo-link">
                <img class="logo" ng-src="https://d9fsetxygehvw.cloudfront.net/assets/logo-transparent.png">
            </a>
            <div ng-if="globalHeader.placeDetails" class="address mdl-layout--large-screen-only">
                <a href ui-sref="contact" class="address__text">
                    <div>4647 NW 6th St.</div>
                    <div>Building G</div>
                    <div>Gainesville FL, 32609</div>
                    <div>Call us at {{globalHeader.placeDetails.formatted_phone_number}}</div>
                </a>
            </div>
        </div>
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href ui-sref="{{item.state}}" ng-repeat="item in globalHeader.menuItems">{{ item.title }}</a>
            </nav>
        </div>
    </header>
</div>
