global-header {
    position: absolute;
    width: 100%;
    .logo-link {
        height: 100px;
        width: 297px;
    }
    .logo {
        height: 100px;
        width: 297px;
    }
    & .top-row {
        display: flex;
        margin: 15px;
        align-items: center;
        justify-content: center;
    }
    & .address {
        position: absolute;
        right: 15px;

        &__text {
            color: #fff;
            text-decoration: none;
        }
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
